<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  </head>
  <body>
    <div class="container">
      <div class="display img1"></div>
      <div class="display img2"></div>
      <div class="display img3"></div>
      <div class="display img4"></div>
      <div class="display img5"></div>
      <div class="display img6"></div>
      <div class="display img7"></div>
      <div class="display img8"></div>
      <div class="display img9"></div>
      <div class="display img10"></div>
      <div class="display img11"></div>
      <div class="display img12"></div>
    </div>
    <div class="text-box">
       <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <button class="button-img">Next Photo</button>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/data.js"></script>
  </body>
</html>
